.timepunch{
    position: relative;
    left: 250px;
    top: 100px;
    width: 500px;
}
table {
    border: 1px solid black;
    width: 1000px;
    height: 300px;
  }
  td,tr {
    border: 1px solid black;
    text-align: center;
    
  }
  th{
    border: 1px solid black; 
    height: 50px; 
    color: aliceblue;
    background-color: #4C637B
  }