.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    height:50px;
    width: 100%;
    background-color: #4C637B;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2); 
}

h4{
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 10px;
}