
<div class="sidebar">
    <div class="sidebar-wrapper ps" data-background-color="white" data-color="danger">
          <ul class="nav">
            <li><a href="dashboard"  ><i class="material-icons">
              dashboard
              </i><p>Dashboard</p></a></li>
            <li><a routerLink="calendar"  routerLinkActive="active"><i class="material-icons">
              schedule
              </i><p>Schedule</p></a></li>
            <li><a routerLink="report"  routerLinkActive="active"><i class="material-icons">
              bar_chart
              </i><p>Report</p></a></li>
              <li><a href="#"><i class="material-icons">
                assignment
                </i><p>Tasks</p></a></li> 
                <li><a routerLink="requestform"  routerLinkActive="active"><i class="material-icons">
                  create
                  </i><p>Requests</p></a></li> 
                  
            <li><a href="#"><i class="material-icons">
              import_contacts
              </i><p>Project</p></a></li>
              <li><a href="#"><i class="material-icons">
                notifications_active
                </i><p>Notifications</p></a></li>
          </ul>
    </div>
</div>
<!--
  <nav id="sidebar">
    <ul class="sidebar_menu">
      <li>
        <a href="#">
          <span><img src="../assets/images/dashboard.png" width="80px" height="50px"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li> <a href="#">
        <span><img src="../assets/images/timesheet.png" width="80px" height="50px"></span>
        <span>TimeSheet</span>
      </a></li>
      <li> <a routerLink="calendar" routerLinkActive="active">
        <span><img src="../assets/images/schedule.png" width="80px" height="50px"></span>
        <span>Schedule</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/report.png" width="80px" height="50px"></span>
        <span>Reports</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/task.png" width="90px" height="50px"></span>
        <span>Tasks</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/project.png" width="80px" height="50px"></span>
        <span>Project</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/request.png" width="80px" height="50px"></span>
        <span>Requests</span>
      </a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>-->