<div>
    
  <nav id="sidebar">
    <ul class="sidebar_menu">
      <li>
        <a href="#">
          <span><img src="../assets/images/dashboard.png" width="80px" height="50px"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li> <a href="#">
        <span><img src="../assets/images/timesheet.png" width="80px" height="50px"></span>
        <span>TimeSheet</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/schedule.png" width="80px" height="50px"></span>
        <span>Schedule</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/report.png" width="80px" height="50px"></span>
        <span>Reports</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/task.png" width="90px" height="50px"></span>
        <span>Tasks</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/project.png" width="80px" height="50px"></span>
        <span>Project</span>
      </a></li>
      <li> <a href="#">
        <span><img src="../assets/images/request.png" width="80px" height="50px"></span>
        <span>Requests</span>
      </a></li>
    </ul>
  </nav>
</div>